{% extends "base_generic.html" %}
{% load static %}
{% load availability_filters %}

{% block content %}
    <h1>My Bookings</h1>

    {% if bookings %}
        <table>
            <thead>
                <tr>
                    <th>Court</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}  {# Iterate over bookings directly #}
                    <tr>
                        <td>{{ booking.court.court_number }}</td>
                        <td>{{ booking.booking_date }}</td>
                        <td>{{ booking.booking_time|time:"H:i" }}</td>
                        <td>{{ booking.duration }}</td>
                        <td>
                            <button class="cancel-button" data-booking-id="{{ booking.id }}">Cancel</button>
                            <button class="reschedule-button" data-booking-id="{{ booking.id }}" data-booking-date="{{ booking.booking_date }}" data-booking-time="{{ booking.booking_time }}"><a href="{% url 'book_slot' %}?date={{ booking.booking_date|date:'Y-m-d' }}&reschedule_id={{ booking.id }}" class="reschedule-button">Reschedule</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no upcoming bookings.</p>
    {% endif %}

    <div id="cancelModal" class="modal" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
        <div class="modal-content" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 500px;">
            <span class="close-button" style="color: #aaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
            <h2>Confirm Cancellation</h2>
            <p>Are you sure you want to cancel this booking?</p>
            <div style="display: flex; justify-content: space-between;">
                <button id="confirmCancelButton" style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer;">Yes, Cancel</button>
                <button id="cancelCancelButton" style="padding: 10px 20px; border: 1px solid black; cursor: pointer;">No, Go Back</button>
            </div>
        </div>
    </div>

    


    <script src="{% static 'js/reschedule_modal.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}