{% extends "base_generic.html" %}
{% load static %}

{% block title %}Welcome to Grove Tennis Club{% endblock %}

{% block content %}


<div class="container-fluid p-0"> {# Container for full-width image #}
    <div class="position-relative"> {# Needed for text overlay #}
        <img src="{% static 'images/grove_tc_hero_image.webp' %}" class="img-fluid w-100"
            alt="Grove Tennis Club Hero Image" style="max-height: 500px; object-fit: cover;"> {# Hero Image #}
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white"> {# Text Overlay #}
            <h1>Grove Tennis Club</h1>
            <p class="lead">Join the vibrant tennis community at Grove Tennis Club in Sheffield! We're more than just a
                tennis club; we're a place where players of all ages and abilities come together to enjoy the sport,
                make friends, and improve their game. Explore our booking system and become part of the Grove Tennis
                family.</p>
            <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
            <a href="{% url 'register' %}" class="btn btn-secondary">Sign Up</a>
        </div>
    </div>
</div>

<main>
    
</main>

{% endblock %}